[submodule "itch.io-downloader"]
	path = itch.io-downloader
	url = https://github.com/GarnetSunset/itch.io-downloader
[submodule "DDLCModTemplate"]
	path = DDLCModTemplate
	url = https://github.com/therationalpi/DDLCModTemplate
	branch = master
[submodule "unrpa2"]
	path = unrpa2
	url = https://github.com/GarnetSunset/unrpa2
[submodule "unrpa"]
	path = unrpa
	url = https://github.com/Lattyware/unrpa
